@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

*
{
  font-family: 'Raleway', 'sans-serif;';
}

body
{
	margin: 0;
}

main
{
 margin: 0 auto;
 max-width: 1400px;
}


nav
{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}

nav a
{
	padding: 32px;
	border-top: 3px solid transparent;
}

nav a:hover
{
	border-top-color: #0065FC;

}

.sub-nav
{
	display: flex;
}

.sub-nav a:hover
{
	color: #0065FC ;
}

#logo
{
	margin-right: auto;
	padding: 0;
}

a
{
	color: inherit;
	text-decoration: none;
}



@media (max-width: 800px)
{
	.sub-nav
	{
		flex-basis: 100%;
	}
	.sub-nav a
	{
      flex-basis: 50%;
      text-align: center;
      border-bottom: 3px solid lightgrey;
	}
	.sub-nav a:hover
	{
		border-bottom: 3px solid #0065FC ;
		border-top-color: transparent;		
	}
}

.contenu
{
	padding: 0 32px;
}

.search-form
{
	display: flex;
}

.search-form i
{
	padding: 1rem 1.2rem;
	background-color: lightgrey;
	border-radius: 1rem 0 0 1rem;
}

.search-form input
{
	padding-right: 3rem;
	border: 1px solid lightgrey;
	overflow: auto;
}

.search-form button
{
	background-color: #0065FC ;
	color: white;
	font-weight: bold;
	border-radius: 0 1rem 1rem 0;
	padding: 0 1.5rem;
	border: none;
}

#loupe
{
  display: none;
}

.contenu h1 , .contenu p
{
    margin-bottom: 0rem;
}

@media (max-width: 800px)
{
	.button_recherche
	{
		display: none;
	}

	#loupe
 {
 	  color: white;
 	  background-color: #0065FC ;
    display: block;
    border-radius: 0 1rem 1rem 0;
 }

}

.filter_list
{
	display: flex;
	align-items: center;
	gap: 2rem;
	flex-wrap: wrap;
	padding-top: 2rem;
}

.filter_list i
{
 color: blue;
 background-color: lightblue;
 padding: 1rem;
 border-radius: 50%;
 margin: -1px;
}

.filter
{
	border: 2px solid lightgrey;
	border-radius: 2rem;
	transition: all 100ms ease;
}

.filter_list span
{
 font-weight: bold;	
 padding: 2rem;
}

.filter:hover
{
	background-color:lightblue;
	transform: scale(1.01);
}

.info
{
	display: flex;
	align-items: center;
}

.info i
{
 color: #0065FC;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 0.75rem;
 min-width: 1.5rem;
 min-height: 1.5rem;
 border: 2px solid lightgrey;
 border-radius: 1.5rem;
 cursor: pointer;

}

.list_appart
{
	display: flex;
	gap: 2rem;
}

.list_appart > div
{
	background-color: lightgrey;
	padding: 1rem;
	border-radius: 1rem;
	margin-inline: -1rem;
	align-items: center;
}

.list_appart > aside
{
	background-color: lightgrey;
	padding: 1rem;
	border-radius: 1rem;
}

.list_appart .city
{
	flex-basis: 66%;
}

.list_appart .city
{
	font-weight: bold;
}

.list_appart .popular
{
	flex-basis: 33%;
}

@media (max-width: 1000px)
{
	.list_appart
	{
		flex-direction: column-reverse;
		align-items: center;
	}
}

.city_appart_list
{
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-around;
	margin-bottom: 1rem;
	
}


.list_appart .popular
{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
}



.appart_card
{
	background-color: white;
	border-radius: 1rem;
	margin: 0;
	padding: 0.5rem;
	box-shadow: 0 0 16px #0000002e ;
	flex-grow: 1;
}
.appart_card img
{
 border-radius: 1rem 1rem 0 0;
 height: 7rem;
 width: 100%;
 object-fit: cover;
 object-position: top;
}

.appart_card p
.appart_card h3
.popular_description p 
.popular_description h3
{
 margin: 0.2rem;
}

.blue
{
	color: #0065FC ;
}

.grey
{
	color: darkgrey;
}

.popular
{
	display: flex;
	flex-direction: column;
	width: 100%;
}


.popular_appart_card
{
	display: flex;
	width: 90%;
	background-color: white;
	border-radius: 1rem;
	margin: auto;
	padding: 0.5rem;
	box-shadow: 0 0 16px #0000002e ;
	flex-grow: 1;
	flex-basis: 100%;
	}

.popular_appart_card img
{
width: 35%;
	border-radius: 20px 0 0 20px;
	height: 150px;
	margin-top: 1px;
	object-fit: cover
}


.popular_description
{
	display: flex;
	flex-direction: column;
  height: 135px;
	width: 65%;
	border-radius: 0 20px 20px 0;
	margin-left: 10px;
  line-height: 15px;
}

.popular_description h3
{
	margin: 0.2rem;
}

.popular h3
{
	display: flex;
	justify-content: space-between;
}

.popular .stars
{
	    margin-top: 0rem;
}

/* Activites */
.activity_list
{
 
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem)) ;
 grid-template-rows: repeat(5, 1fr);
 gap: 2rem;
 margin-bottom: 20vh;
 justify-content: center;
 margin-bottom: 4rem;
}

.activity_list > *
{
	background-size: cover;
  display: flex;
  background-position: center;
  border-radius: 1rem ;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
  transition: all  200ms;
}

.activity_list > div:hover
{
	transform: scale(1.2);
}

.big1
{
	grid-row: 1 / -1;
  background-image: url(https://booki.mathisbarre.com/img/activity/medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

.big2
{
	grid-column: 3 /4;
	grid-row: 1/ -1;
	background-image: url(https://d33wubrfki0l68.cloudfront.net/ead389ebcd18bc2ca50ceccc88722649f4290abc/4b4d3/assets/img/activity/kilyan-sockalingum-nr8-cbcn3ai-unsplash.jpg);
	height: 30rem;
}

.medium1
{
	grid-row: span 3;
	background-image: url(	https://booki.mathisbarre.com/img/activity/small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  
}

.medium2
{
 grid-column: 4/-1;
 grid-row: 3/-1;
 background-image: url(	https://booki.mathisbarre.com/img/activity/small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);

}

.small1
{
	grid-column: 2 / 3;
	grid-row: 4/ -1;
	background-image: url(	https://booki.mathisbarre.com/img/activity/small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

.small2
{
	grid-column: 4/-1;
	grid-row: 1 / 3;
	background-image: url(https://booki.mathisbarre.com/img/activity/small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

.activity_list h3
{
	background-color: white;
	margin-top: auto;
	margin-bottom: 0;
	width: 100%;
	padding: 1rem;
	border-radius: 0 0 1rem 1rem;
}


@media (max-width: 1500px)
{
	.activity_list
	{
		grid-template-rows: repeat(auto-fit, 15rem);
	}
	.activity_list > *
	{
		grid-column: span 1;
		grid-row: span 1;
		height: 15rem;
	}
}


/* Footer */

footer
{
	background-color: lightgrey;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	font-size: smaller;
	padding: 1rem;
}